
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div class="table alert-success">
        @ViewBag.fileName
        <br />
        @ViewBag.TypeOfFile
        <br />
        @ViewBag.pictue
    </div>
</body>
</html>
